<link
  rel="preload"
  href="{{ 'section-about-facts.css' | asset_url }}"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'" />
<noscript>{{ 'section-about-facts.css' | asset_url | stylesheet_tag }}</noscript>

<div class="about-facts">
  <div class="wrapper-padded show-on-scroll">
    <h2 class="title">
      Re[Sens] – your personal contribution to environmental protection
    </h2>
    <div class="cards">
      <div class="card">card 1</div>
      <div class="card">card 2</div>
      <div class="card">card 3</div>
    </div>
  </div>
</div>