<link
  rel="preload"
  href="{{ 'section-about-facts.css' | asset_url }}"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'" />
<noscript>{{ 'section-about-facts.css' | asset_url | stylesheet_tag }}</noscript>

<div class="about-facts">
  <div class="wrapper-padded show-on-scroll">
    <h2 class="title">
      Re[Sens] – your personal contribution to environmental protection
    </h2>
    <div class="cards">
      <div class="card card-1">
        <div class="value">38%</div>
        <div class="description">
          of innovative compostable packaging - for the first time in Ukraine
        </div>
      </div>
      <div class="card card-2">
        <div class="value">59%</div>
        <div class="description">
          of packaging made from recyclable materials
        </div>
      </div>
      <div class="card card-3">
        <div class="value">3%</div>
        <div class="description">
          of packaging made of plastic, and we plan to reduce this to 0% over the next 3 years
        </div>
      </div>

    </div>
  </div>
</div>