<link
  rel="preload"
  href="{{ 'section-brand-developers.css' | asset_url }}"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'" />
<noscript>{{ 'section-brand-developers.css' | asset_url | stylesheet_tag }}</noscript>

<div class="brand-developers">
  <div class="wrapper-padded show-on-scroll">
    <h2 class="title">
      brand developers
    </h2>
    <div class="grid">
      <div class="founder-info grid-row-2">
        <div class="header">
          <div class="role">CO-FOUNDER AND BRAND DEVELOPER</div>
          <div class="name">YULIA HAHARINA</div>
        </div>
        <div class="description">Chemist-technologist with 20+ years of experience developing cosmetic formulas for various brands. Speaker at numerous conferences, where she he popularizes science and cosmetology "without chemophobia"</div>
      </div>
      <div class="founder-info">
        <div class="header">
          <div class="role">CO-FOUNDER <br> OF THE BRAND</div>
          <div class="name">OLGA HUZHYK</div>
        </div>
        <div class="description">Eco-activist, lecturer, organizer    
          of recycling stations in residential complexes</div>
      </div>
      <div class="founder-info">
        <div class="header">
          <div class="role">CO-FOUNDER <br> OF THE BRAND</div>
          <div class="name">YULIA POLIAKOVA</div>
        </div>
        <div class="description">Mentor in «Misto Dobra»</div>
      </div>
      <div class="general-info">Co-founders of G&P Group and We are from Ukraine (a human rights project that helps Ukrainians affected by the aggression of the Russian Federation to obtain protection at the European Court of Human Rights)</div>
    </div>
  </div>
</div>