<link
  rel="preload"
  href="{{ 'section-eco-responcibility.css' | asset_url }}"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'" />
<noscript>{{ 'section-eco-responcibility.css' | asset_url | stylesheet_tag }}</noscript>

<div class="eco-responcibility">
  <div class="wrapper-padded show-on-scroll">
    <h2 class="title">
      ECO-RESPONCIBILITY
    </h2>
    <h3 class="subtitle">
      THE FIRST SUSTAINABLE BRAND IN THE PROFESSIONAL COSMETICS MARKET
    </h3>
    <div class="description">
      Our mission is to preserve beauty, not only of the skin but also of the environment, by raising sustainability standards in the cosmetics industry. <br>
      We are against the presence of plastic in the cosmetics sector, as a large share (25%) of it ends up in the ocean through chemical-cosmetic production. Our task is to create and promote eco-friendly cosmetic solutions.<br>
      PURPOSE is to create an effective product in packaging of the new generation, that does not increase plastic pollution and does not pollute land and wastewater.<br>
      VISION is to become a Zero Net company within 10 years and minimize carbon footprint in the production cycle. We believe that we make significant impacked on changing even of "bad habits" and contribute to a sustainable future.
    </div>
  </div>
</div>