<h2>Product Tabs</h2>

{% stylesheet %}
  
{% endstylesheet %}

{% javascript %}
  
{% endjavascript %}

{% schema %}
{
  "name": "Product tags",
  "presets": [
    {
      "name": "Product Tabs"
    }
  ]
}
{% endschema %}