<link
  rel="preload"
  href="{{ 'section-ukrainian-development.css' | asset_url }}"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'" />
<noscript>{{ 'section-ukrainian-development.css' | asset_url | stylesheet_tag }}</noscript>

<div class="ukrainian-development">
  <div class="wrapper-padded show-on-scroll">
    <h2 class="title">
      SCIENTIFIC UKRAINIAN DEVELOPMENT
    </h2>
    <div class="facts">
      <ul class="list">
        <li class="list_item">Own formulas created by ukrainian developers taking into account the needs of sensitive skin
        </li>
        <li class="list_item">Clinically proven effectiveness</li>
        <li class="list_item">Innovative raw materials from around the world: europe, japan, korea, usa</li>
        <li class="list_item">Compostable packaging</li>
        <li class="list_item">Respect for nature, humans and the environment in general</li>
      </ul>
    </div>
  </div>
</div>