<link
  rel="preload"
  href="{{ 'section-ukrainian-development.css' | asset_url }}"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'" />
<noscript>{{ 'section-ukrainian-development.css' | asset_url | stylesheet_tag }}</noscript>

<div class="ukrainian-development" style="background: {% if section.settings.background %}
  url(' {{ section.settings.background | image_url: width: " 700x" }}') center center / cover no-repeat
{% else %}
  green
{% endif %}">
  <div class="wrapper-padded show-on-scroll">
    <h2 class="title">
      SCIENTIFIC UKRAINIAN DEVELOPMENT
    </h2>
    <div class="facts">
      <ul class="list">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'list' %}
              <li class="list_item">{{ block.settings.list_item }}</li>
          {% endcase %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Ukrainian Development",
    "settings": [
      {
        "type": "image_picker",
        "id": "background",
        "label": "Background for this section"
      }
    ],
    "blocks": [
      {
        "name": "List Item",
        "type": "list",
        "settings": [
          {
            "type": "text",
            "id": "list_item",
            "label": "List item",
            "default": "List item"
          }
        ]
      }
    ]
  }
{% endschema %}