<link
  rel="preload"
  href="{{ 'section-vacancy-details.css' | asset_url }}"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'" />
<noscript>{{ 'section-vacancy-details.css' | asset_url | stylesheet_tag }}</noscript>

<div class="vacancies-details">
  <div class="wrapper-padded show-on-scroll">
    <div class="vacancies-details-description">
      {{ page.content }}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Vacancies Details",
    "settings": [

    ],
    "blocks": [
      
    ],
    "presets": [
      {
        "name": "Vacancies Details"
      }
    ]
  }
{% endschema %}