/* Place any CSS overrides in this file. */
.large--three-quarters {
  width: 100% !important;
}
.nav-bar.mobile-nav-bar-wrapper {
  padding: 20px 0;
}

.nav-bar.mobile-nav-bar-wrapper button.site-nav__link {
  margin-left: -10px;
}

/* Main banner with image */
.homepage-slider-container
  .homepage-featured-content-box
  .homepage-featured-content-box-inner
  .homepage-section-btn {
  width: 200px;
  background: #ffffff;
  color: #000000;
  padding: 16px;
}

.homepage-slider-container
  .homepage-featured-content-box
  .homepage-featured-content-box-inner
  .homepage-section-btn:hover {
  background: #dfe3e8;
}

/* Section with woman's face */
.homepage-featured-content-box-inner
  .homepage-section-btn-container
  .homepage-section-btn {
  background-color: #ffffff;
}

.homepage-featured-content-box-inner
  .homepage-section-btn-container
  .homepage-section-btn:hover {
  background-color: #dfe3e8;
}

.homepage-featured-content-box-inner
  .sitewide--title-wrapper
  h2.homepage-sections--title {
  font-size: 40px;
  margin-top: 26px;
  letter-spacing: 5px !important;
}

.site-header__logo img {
  max-width: 120px !important;
}

.template-page-about .overlay-header {
  background: transparent;
}

.template-page-about .sticked .overlay-header {
  background: #fff;
}

.template-page-about #breadcrumbs {
  position: absolute;
  top: 110px;
  z-index: 100000;
  color: #fff;
}
#breadcrumbs.wrapper-padded {
  margin: 15px 10px !important;
}

.template-page-about #breadcrumbs span {
  color: #fff;
  text-transform: capitalize;
}

.template-page-sustainability .homepage-sections--title {
  line-height: 40px !important;
  letter-spacing: 0.7px !important;
}

.template-page-sustainability .shopify-section .homepage-sections-wrapper {
  margin: 0px 0;
}
.template-page-sustainability .content-on-image-background {
  margin: 0;
}

.template-page-sustainability .rte p {
  text-align: justify !important;
}

.template-page-sustainability .shopify-section {
}

.template-page-sustainability h2 {
  font-size: medium;
}

.template-page-sustainability .responsive-image-wrapper img {
  /* height: 158px; */
}

.template-page-sustainability .logo-bar__item {
  margin: 3px !important;
}
.template-page-sustainability .large--three-quarters {
  width: 62%;
}

/* Temp */
.mobile-nav-bar-wrapper button.site-nav__link {
  padding: 20px 11px !important;
}
@media only screen and (max-width: 989px) {
  .template-page-about #breadcrumbs {
    z-index: 1;
    display: none;
  }
  .template-page-about h2.homepage-sections--title,
  .template-page-sustainability h2.homepage-sections--title,
  .image-with-text-overlay-wrapper--textAlignment-center
    .homepage-featured-content-box
    .homepage-featured-content-box-inner
    h2.homepage-sections--title {
    font-size: 20px !important;
    margin: 30px 0 0 0;
    /* display: none; */
  }
  .template-page-sustainability .responsive-image-wrapper img {
    /* display: none; */
  }
  .mobile-nav-bar-wrapper .grid__item {
    margin-top: 0px;
  }
  .sticked .site-header__logo img {
    width: 35px;
  }
  .mobile-nav-bar-wrapper {
    padding: 0;
  }
  /* homepage-sections--title homepage-section-title */
}

/* Temp */

.template-article #PageContainer {
  max-width: 70%;
  margin: 0 auto;
}

.homepage-section--logo-bar-wrapper .logo-bar__item img {
  height: 158px;
}

.homepage-featured-content-wrapper
  .feature_row__image_wrapper
  .featured-row__subtext
  ul
  li,
.homepage-featured-content-wrapper
  .feature_row__image_wrapper
  .featured-row__subtext
  li,
.homepage-featured-content-wrapper
  .feature_row__image_wrapper
  .featured-row__subtext
  p,
.homepage-featured-content-wrapper
  .feature_row__image_wrapper
  .featured-row__subtext
  a,
.homepage-featured-content-wrapper
  .feature_row__image_wrapper
  .featured-row__subtext
  h1,
.homepage-featured-content-wrapper
  .feature_row__image_wrapper
  .featured-row__subtext
  h2,
.homepage-featured-content-wrapper
  .feature_row__image_wrapper
  .featured-row__subtext
  h3,
.homepage-featured-content-wrapper
  .feature_row__image_wrapper
  .featured-row__subtext
  h4,
.homepage-featured-content-wrapper
  .feature_row__image_wrapper
  .featured-row__subtext
  h5,
.homepage-featured-content-wrapper
  .feature_row__image_wrapper
  .featured-row__subtext
  h6 {
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .homepage-sections--slideshow-wrapper.mobile-text-position--center-left
    .homepage-featured-content-box-inner
    .slideshow-title
    h2,
  .image-with-text-overlay-wrapper--textAlignment-left
    .homepage-featured-content-box
    .homepage-featured-content-box-inner
    h2.homepage-sections--title {
    font-size: 20px;
    text-align: center;
  }

  .image-with-text-overlay-wrapper--textPosition-left
    .homepage-featured-content-box {
    width: 100% !important;
  }

  .image-with-text-overlay-wrapper--textPosition-center
    .homepage-featured-content-box.image-with-text-overlay__content-box,
  .image-with-text-overlay-wrapper--textPosition-center
    .homepage-featured-content-box.image-with-text-overlay__content-box,
  .image-with-text-overlay-wrapper--textPosition-center
    .homepage-featured-content-box.image-with-text-overlay__content-box {
    width: 100%;
  }

  .homepage-sections--slideshow-wrapper.mobile-text-position--center-left
    .homepage-featured-content-box-inner
    .slide-buttons
    a.homepage-section-btn {
    width: -webkit-fill-available;
  }

  .homepage-sections--slideshow-wrapper.mobile-text-position--center-left
    .homepage-featured-content-box-inner
    .slideshow-title
    h2 {
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.17em !important;
    line-height: 40px !important;
  }
  .mobile-nav-bar-wrapper .mobile-grid--table {
    position: relative;
  }
  .mobile-nav-bar-wrapper .mobile-grid--table .search-button {
    position: absolute;
    left: 26px;
  }
  .product-details-product-title {
    font-size: 20px !important;
  }
  [data-wetheme-section-type='image--image-with-text'] .grid--full {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 989px) {
  .template-article #PageContainer {
    max-width: 100%;
  }
}
