.resens-definition {
  padding: 80px 10px;
}

.resens-definition .definition .mobile-visible {
  display: none;
}

.resens-definition .image {
  width: 794px;
  margin: 0 auto;
}

.resens-definition .definition {
  display: flex;
  gap: 24px;
}

.resens-definition .subdefinition {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resens-definition .definition .title {
  font-weight: 400;
  font-size: 21px;
  line-height: 90% !important;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px;
}

.resens-definition .description {
  text-align: justify;
  /*letter-spacing: -0.7px;*/
  /*font-weight: 400;*/
}

.resens-definition .conclusion {
  margin-top: 64px;
  text-align: justify;
  /*letter-spacing: -0.7px;*/
  /*font-weight: 400;*/
  /*font-size: 14px;*/
  /*text-align: justify;*/
}

.resens-definition .description .bold {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
}

@media only screen and (max-width: 989px) {
  .resens-definition .image {
    display: none;
  }
  .resens-definition .definition {
    flex-direction: column;
  }
  .resens-definition .subdefinition {
    width: 100%;
  }
  .resens-definition .definition .title {
    align-self: center;
  }
  .resens-definition .definition .title span {
    color: #dbdbdb;
  }
  .resens-definition .definition .desktop-visible {
    display: none;
  }
  .resens-definition .definition .mobile-visible {
    display: block;
  }
}
