.eco-responcibility {
  padding: 80px 10px 128px 10px;
}

.eco-responcibility .title {
  text-align: center;
  margin: 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}

.eco-responcibility .subtitle {
  margin: 0;
  margin-top: 32px;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}

.eco-responcibility .description {
  margin-top: 24px;

  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 1px;
  text-align: justify;
}
