.eco-responcibility {
  padding: 80px 10px 128px 10px;
}

.eco-responcibility .title {
  text-align: center;
  margin: 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px!important;
  letter-spacing: 0.13em!important;
  text-transform: uppercase;
}

.eco-responcibility .subtitle {
  margin: 0;
  margin-top: 24px;
  font-weight: 400;
  font-size: 20px;
   text-align: center;
  letter-spacing: 0.13em!important;
  text-transform: uppercase;
}

.eco-responcibility .description {
  margin-top: 24px;

  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 1px;
  text-align: justify;
}

@media only screen and (max-width: 767px) {
  .eco-responcibility .title {
    font-size: 20px;
  }
  .eco-responcibility .subtitle {
    font-size: 16px;
  }
}
