.about-philosophy-info {
  padding: 80px 10px 0 10px;
}

.about-philosophy-info .title {
  text-align: center;
  margin: 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.13em!important;
  text-transform: uppercase;
}

.about-philosophy-info .subtitle {
  margin: 21px 0 21px 0;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.12em !important;
  text-transform: uppercase;
  line-height: 165% !important;
}
}

.about-philosophy-info .description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-philosophy-info .description ul li {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}

@media only screen and (max-width: 767px) {
  .about-facts .cards {
    grid-template-columns: 1fr;
  }
  .about-philosophy-info .title {
    font-size: 20px;
  }
  .about-philosophy-info .subtitle {
    font-size: 16px;
  }
}
